*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family:"Open Sans Condensed", sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #000;
}
.container{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px auto auto 200px;
    grid-template-areas:"header header header"
                        "main main main"
                        "main main main"
                        "section section section"
                        "section section section"
                        "footer footer footer";
}

/* HEADER */
.header-container{
    grid-area: header;
    background-color: black;
    width: 100%;

}
.header-container .header{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: "lista titulo tituloI";
    height: 100%;
    width: 100%;

}

.header-container .header .titulo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-area: titulo;
    width: 100%;
    
}

.header-container .titulo-container .titulo{
    font-size: 70px;
    color:#fff;
    margin-top: 30px;
    grid-area: titulo;
    cursor: pointer;
    transition:.5s;
    width:auto; 
    border-radius: 4px;
}
.header-container .titulo-container .titulo:hover{
    color:#000;
    background-color: #fff;
}

.header-container .header .nav-container{
    grid-area: lista;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.header-container .ul{
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 2px;
    list-style-type: none;    
}

.header-container .ul li{
    display: flex;
    justify-content: center;
    margin:10px 2px;
    width:105px;
    font-size: 20px;
    font-weight: 500;
    transition:.5s;
    border-radius: 3px;
    cursor:pointer;
    position: relative;
  
    
}
.header-container .ul li .submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 170px;
    z-index: 1000;
    bottom:-170px;
    background-color: #000;
    border-radius: 3px;
    /* overflow: hidden; */
    transition:all .5;
}
.header-container .ul li .submenu li{
    color:#fff; 
    font-size: 16px;
}
.header-container .ul li .submenu li:hover{
    color:#000;
    background: #fff;
}
.header-container .ul li .submenu>hr{
    width: 80%;
    margin:auto;
}

.header-container .ul li:hover{
    color:#000;
    background:#fff;
  
}

/* MAIN */
.main-container{
    background-color: #ccc;
    grid-area:main;
    width:100%;
    height:540px;
}
.main-container .main{
    width:100%;
    height: 100%;
    
}

.main-container .main .center-image-container{
    width:100%;
    overflow: hidden;
    height: 100%;   
}
.main-container .main .center-image-container .slide-images{
    width: 100%;
    height: 100%;
}

/* SECTION */
.product-types-container{
    background-color: #000;
    grid-area:section;
    width: 100%;
    height: 100%;

   
}
.product-types-container .product-types{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-types-container .product-types img{
    margin: 10px;
    object-fit: cover;
    width: 250px;
    height: 250px;
    border: .5px solid #fff;
    border-radius: 5%;
}

/* FOOTER */
.footer-container{
    background-color: #fff;
    grid-area: footer;
}
.footer-container .footer{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:"direccion contacto";

}
.footer-container .footer .direccion{
    grid-area: direccion;
    display: flex;
    flex-direction: column;
    margin:5px;
    padding: 5px;

}
.footer-container .footer .direccion small p{
    margin: 5px 0;
}


.footer-container .footer .contacto{
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin:5px;
    padding: 5px;
   
}

.footer-container .footer .contacto a{
    padding:5px;
}