:root{
    --red:#ff2e63;
    --black:#252a34;
    --blue:#08d9d6;
    --white:#eaeaea;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:#fff;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
}

/* GO TOP */
.go-top{
    position:fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--red);
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:400ms;
    z-index:9999;
}

.go-top:hover{
    border:2px solid var(--white);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);
}

.go-top > span{
    font-size: 30px;
    color: var(--black);
}
/* skew */
.skew-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 40vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/* Menu de Naegacion */

#header{
    position:relative;
    width: 100%;
}

.menu{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 60px;
    background:#fff;
    

    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;



}
.menu .logo-box{
    margin-left:20px;
}
.menu .logo-box h1 a {
    text-decoration: none;
    font-size:35px;
    font-weight: 400;
    color: var(--black);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .list{
    display:flex;
}

.menu .list-container .list li{
    list-style: none;
}

.menu .list-container .list li a{
    text-decoration: none;
    margin: 0 10px;
    padding:8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .list li a.active{
    background: var(--red);
    color:#fff;
}
.menu .list-container .list li a:hover{
    background: var(--red);
    color:#fff;
} 

    



.btn-menu > .fa-bars{
    display:none;
}

/* IMG header */

.img-header{
    position:relative;
    width: 100%;
    height: 100vh;
    background:url(../proyecto-web-3_img/img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* transform: skewY(45deg); */
}

.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h2{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background-color: #fff;
    border: none;
    margin-top:5px;

}

.img-header .welcome p{
    font-size: 20px;
    color: #fff;
    margin-top:20px;
}

.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background-color: var(--red);
    border-radius:24px;
    border:none;
    outline:none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    transition:0.5s;
    cursor:pointer;
}

.img-header .welcome > button:hover{
    background: var(--blue);

}


/* Acerca De Nosotros*/

.acerca-de{
    width: 100%;
    margin-top: 120px;
}

.acerca-de .info-container{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.acerca-de .info-container h2{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .info-container p{
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0;  
}

.acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.acerca-de .info-container .about-gallery img{
   width: calc(33.33% - 10px);
   height: 300px;
   object-fit: cover;
   margin: 10px 10px;
   border-radius:10px;
   cursor:pointer;

}

.acerca-de .info-container .about-more{
    width: 100%;
    display:flex;
    justify-content: center;
}

.acerca-de .info-container .about-more button{
    width: 120px;
    height: 40px;
    background-color: var(--red);
    border-radius:24px;
    border:none;
    outline:none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    transition:0.5s;
    cursor:pointer;
}

.acerca-de .info-container .aboutwi-more button:hover{
    background: var(--blue);
}

/* Nuestros Proyectos */

.our-projects{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../proyecto-web-3_img/img/img-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}

.our-projects .deg-background{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.our-projects .ejeZ-project{
    position:relative;
    width: 100%;
    height: 100%;
}

.our-projects .container-project{
    width: 90%;
    margin:auto;
    padding-top: 100px;
}

.our-projects .container-project .project-title{
    border:2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin:auto;

}

.our-projects .container-project .project-title h3{
    font-size: 40px;
    color: #fff;
    font-weight: normal;
}
.our-projects .container-project .project-title hr{
    background: #fff;
    width: 50%;
    margin:18px auto;

}

.our-projects .container-project .project-img{
    width: 100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:80px;
    padding-bottom: 100px; 
}

.our-projects .container-project .project-img img{
    width:calc(30% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;

}


/* Testimonios */
.testimonios{
    width: 100%;
    margin-top:120px;
}

.testimonios .testimonios-title{
    width: 50%;
    margin: auto;
    text-align: center;
}

.testimonios .testimonios-title h2{
    font-size: 50px;
    color:var(--black);
    font-weight: normal;
    margin-bottom: 10px;

}
.testimonios .testimonios-title hr{
    width:60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border:none;
}

.testimonios .box-testimonios{
    width: 90%;
    margin: 80px auto;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.testimonios .box-testimonios .card-testimonio{
    width: 45%;
    margin: 20px;
}

.testimonios .box-testimonios .card-testimonio .card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.testimonios .box-testimonios .card-testimonio img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text{
    width: 100%;
    border: 2px solid var(--red);
    padding: 20px;
    border-radius: 20px;
    margin-top:30px;
    transition:200ms;

}

.testimonios .box-testimonios .card-testimonio .testimonio-text h4{
    color: var(--red);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition:200ms;
}


.testimonios .box-testimonios .card-testimonio .testimonio-text p{
    font-size:19px;
    color:var(--black);
    text-align: center;
    line-height: 35px;
    transition:200ms;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text:hover{
    border:2px solid var(--blue);
}
.testimonios .box-testimonios .card-testimonio .testimonio-text:hover h4{
    color: var(--blue);
}


/* Footer */
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../proyecto-web-3_img/img/footer.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.footer .deg-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.footer .ejeZ-footer{
    position:relative;
    width: 100%;
    height: 100%;
}

.footer .footer-content{
    width: 90%;
    padding-top:100px;
    margin:auto;
}

.footer .footer-content .footer-title{
    width: 50%;
    margin: auto;
    border:2px solid #fff;
    padding:15px;
}

.footer .footer-content .footer-title h3{
    text-align:center;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}

.footer .footer-content .footer-title hr{
    width: 80%;
    margin:10px auto;
}

.footer .footer-content .formulario-content{
    width: 60%;
    background: #fff;
    border-radius: 20px;
    border:2px solid var(--red);
    margin: 40px auto 100px auto;
    padding: 30px;
}

.footer .footer-content .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer .footer-content .formulario-content #formulario label{
    text-align: center;
    color:var(--black);
    font-size: 22px;
    margin:30px 0 10px 0;
}

.footer .footer-content .formulario-content #formulario input{
    width:90%;
    margin: auto;
    border:2px solid var(--red);
    border-radius: 24px;
    outline: none;
    height:40px;
    text-align: center;
    font-size:17px;
    color: var(--black);
}

.footer .footer-content .formulario-content #formulario textarea{
    width: 90%;
    margin: auto;
    border:2px solid var(--red);
    border-radius: 24px;
    outline: none;
    height:200px;
    text-align: center;
    font-size:15px;
    color: var(--black);
    padding: 20px;
}

.footer .footer-content .formulario-content #formulario .send{
    width:100%;
    display: flex;
    justify-content: center;
    margin:40px auto;
}

.footer .footer-content .formulario-content #formulario .send button{
    width: 150px;
    height: 40px;
    background-color: var(--red);
    border-radius:24px;
    border:none;
    outline:none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    transition:0.5s;
    cursor:pointer;
}

.footer .footer-content .formulario-content #formulario .send button:hover{
    background-color: var(--blue);
}
.footer .footer-content .formulario-content #formulario .mensaje-form{
    color:#000;
    font-weight: bold;
    font-size: 13px;
}

.footer .footer-content .footer-text{
    width:100%;
    height:60px;
    background: rgba(0, 0, 0, 0.8);
    border-top: 5px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-content .footer-text p{
    color: #fff;
    font-size: 20px;
}

/* Media Query */
@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
    display:block;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 28px;
    cursor: pointer;
    }
    .btn-menu > .fa-bars:hover{
        color:var(--red)
    }
    .btn-menu > .fa-times{
        color:var(--red)
    }
    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: #fff;
    }
    .menu .list-container .list{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--red);
    }

    .menu .list-container .list li{
        width: 90%;
        margin:10px 0;
        border-bottom: 1px solid var(--red);
        text-align: center;

    }
    .menu .list-container .list li a{
        font-size: 20px;
    }

    .menu .list-container .list li a.active{
        background: none;
        color: var(--red);
    }
    
    .menu .list-container .list li a:hover{
        background: none;
        color: var(--red);
    }

}
